# Binary
lego-scp-solver
lego-scp-solver-*
__debug_bin*

# Account key
account.key

# Certificates
*.crt
*.key
certs/

# IDE files
.idea/
.vscode/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work